*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 16px;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;}

a {
    display: block;
    /* Зробити <a> блочним, щоб правильно відображати */
    border: 1px solid #ccc;
    /* Обводка навколо зображення */
    border-radius: 8px;
    /* Закруглені кути */
    overflow: hidden;
    /* Сховати переповнене зображення */
  }

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #FF3D00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.feedback-form {

  width: 360px;
  height: 192px;
}

